@charset "UTF-8";
/** font */
@font-face {
	font-family: Splatoon1;
	src:
		/* url('./woff/s1kanji.woff2') format('woff2'),
		url('./woff/s1kanji.woff') format('woff'); */
		url('../woff/s1kana.woff2') format('woff2'),
		url('../woff/s1kanji.woff') format('woff');
}
@font-face {
	font-family: Splatoon1;
	src:
		url('../woff/s1kana.woff2') format('woff2'),
		url('../woff/s1kana.woff') format('woff');
}
@font-face {
	font-family: Splatoon2;
	src:
		url('../woff/s2kanji.woff2') format('woff2'),
		url('../woff/s2kanji.woff') format('woff');
}
@font-face {
	font-family: Splatoon2;
	src:
		url('../woff/s2kana.woff2') format('woff2'),
		url('../woff/s2kana.woff') format('woff');
}
/** reset */
body, div, p, table, tr, th, td, ul, ol, li, h1, h2, h3, h4, h5, nav, span {
	margin: 0;
	padding: 0;
}
/** body */
body {
	font-family: Splatoon2, sans-serif;
    background-image: repeating-linear-gradient(
        45deg, #cccccc, #cccccc 7px, transparent 0, transparent 14px);
}



/*tabの形状*/
.tab{
  display: flex;
  flex-wrap: wrap;
}
.tab li a{
  display: block;
  background:#ddd;
  color: #ff7500;
  margin:0 2px;
  padding:10px 20px;
}
/*liにactiveクラスがついた時の形状*/
.tab li.active a{
  background:#fff;
  color: #ff7500;
}


/*エリアの表示非表示と形状*/
.area {
  display: none;/*はじめは非表示*/
  opacity: 0;/*透過0*/
  background: rgba(255, 255, 255, 0.774);
  padding:30px 20px;
  text-align: center;
}

/*areaにis-activeというクラスがついた時の形状*/
.area.is-active {
    display: block;/*表示*/
    animation-name: displayAnime;/*ふわっと表示させるためのアニメーション*/
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes displayAnime{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.aka_text span{
    color: #ff7500;
    font-size: 18px;
}

.aka_text_top{
    color: #ff7500;
    font-size: 18px;
}

.aka_text_new a{
    color: #ff7500;
    font-size: 20px;
}

.aka_text_01{
    font-size: 16px;
}

.app img{
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 15px;
}

.app a{
    color: #ff7500;
    font-size: 18px;
}

.about a{
    color: #ff7500;
    font-size: 18px;
}


/*========= レイアウトのためのCSS ===============*/


ul{
  list-style:none;
}

a{
  color:#333;
  text-decoration: none;
}

.wrapper{
  width:100%;
  max-width: 960px;
  margin:0px auto;
  padding-top: 100px;
    background:#fefefeaf;
}

.area h2{
  font-size:1.3rem;
  margin:0 0 20px 10px;
}

/*リンクの形状*/
#page-top a{
	display: flex;
	justify-content:center;
	align-items:center;
	background:#347fb1;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	color: #fff;
	text-align: center;
	text-transform: uppercase; 
	text-decoration: none;
	font-size:18px;
	transition:all 0.3s;
}

	#page-top a:hover{
	background: #777;
	}

	/*リンクを右下に固定*/
	#page-top {
	position: fixed;
	right: 10px;
	bottom:10px;
	z-index: 2;
		/*はじめは非表示*/
	opacity: 0;
	transform: translateY(100px);
	}

	/*　上に上がる動き　*/

	#page-top.UpMove{
	animation: UpAnime 0.5s forwards;
	}
	@keyframes UpAnime{
	from {
		opacity: 0;
	transform: translateY(100px);
	}
	to {
		opacity: 1;
	transform: translateY(0);
	}
	}

	/*　下に下がる動き　*/

	#page-top.DownMove{
	animation: DownAnime 0.5s forwards;
	}
	@keyframes DownAnime{
	from {
		opacity: 1;
	transform: translateY(0);
	}
	to {
		opacity: 1;
	transform: translateY(100px);
	}
	}
  
/*========= レイアウトのためのCSS ===============*/

small{
	background:#333;
	color: #ff7500;
	display: block;
	text-align: center;
	padding:20px;
}

#footer{
position: relative;
z-index: 2;
}




ol,
ul {
	list-style:none;
}

caption,
th {
	text-align:left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,
q:after {
	content:'';
}
abbr,
acronym {
	border:0;
	font-variant:normal;
}
/* to preserve line-height and selector appearance */
sup {
	vertical-align:text-top;
}
sub {
	vertical-align:text-bottom;
}
input,
textarea,
select {
	font-size:inherit;
	font-weight:inherit;
}
/*to enable resizing for IE*/
input,
textarea,
select {
	*font-size:100%;
}
/*because legend doesn't inherit in IE */
legend {
	color:#000;
}
/* YUI CSS Detection Stamp */
#yui3-css-stamp.cssreset { display: none; }

/* style.css */

/* -------------------- */
/* base
/* -------------------- */

li{
	list-style:none;
}
a{
	text-decoration: none;
	color:#fff;
}
img{
	width:100%;
	vertical-align: bottom;
}
 /* -------------------- */
 /* header
 /* -------------------- */
.header{
	background-color: #000000;
	color: #fff;
	height:50px;
	padding: 0 120px;
	border-bottom:1px solid #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: 100;
	width: 100%;

}

.site-title{
	z-index: 2;
}
.nav-list{
	/* navの横並び */
	display: flex;
}

.nav-list a{
	font-size: 20px;
	}

.nav-item{
	/* メニューの右側に余白 */
	margin-right: 55px;
	}

.burger-btn{
	display: none;
	}

@media screen and (max-width:768px){ 
   /* ------------------ */
   /* humberger-menu */
   /* ------------------ */
    .header{
		padding: 0 5%;
    }
    .burger-btn{
		display: block;
		width: 39px;
		height: 39px;
		position: relative;
		z-index: 100;
		/*   codepenの挙動のため */
		background-color:transparent;
		border:none;

	}
	.bar{
		width: 20px;
		height: 1px;
		display: block;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		background-color: #fff;
	}
	.bar_top{
		top: 10px;
	}
	.bar_mid{
		top: 50%;
		transform: translate(-50%,-50%);
	}
	.bar_bottom{
		bottom: 10px;
	}
	.burger-btn.close .bar_top{
		transform: translate(-50%,10px) rotate(45deg);
		transition: transform .3s;
	}
	.burger-btn.close .bar_mid{
		opacity: 0;
		transition: opacity .3s;
	}
	.burger-btn.close .bar_bottom{
		transform: translate(-50%,-8px) rotate(-45deg);
		transition: transform .3s;
	}
	.nav-wrapper{
		display: none;
		width: 100vw;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;/*キービジュアルと.btn_triggerとの重なりの前後関係を調整*/
	}
	.header-nav{
		width: 100%;
		height: 100%;
		background-color:#000000;
		z-index: 100;
	}
	.header-nav .nav-list{
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		text-align: center;
	}
	.header-nav .nav-item{
		margin-right: 0;
		margin-bottom: 40px;
		border-radius: 25px;
	}


}  
    @media screen and (min-width:768px){
        header{
            max-width: 960px;
            margin: 0 auto;
        }
        .header{
            padding: 0px;
            height: 60px;
            
        }
        .site-title{
            padding-left: 50px;
            font-size: 20px;
        }

        footer{
            max-width: 960px;
            margin: 0 auto;
            font-size: 20px;
        }

		.nav-wrapper nav ul li a:hover{
			color: #ff7500;
		}
        
    }

    @media screen and (min-width:1024px){
        header{
            max-width: 100%;
            margin: 0;
        }
    
        .header{
            padding: 0px 20px;
            position: fixed;
            width: 100%;
            z-index: 50;
            height: 60px;
        }

        .wrapper {
            width: 100%;
            padding-top: 100px;
            margin: 0px auto;
            background: #fefefe;
        }

        .footer_pc{
            max-width: 1230px;
            margin: 0 auto;
        }
    
        footer{
            margin-top: 20px;
            margin-bottom: 20px;
        }

		.aka_text span{
			font-size: 22px;
		}

		.aka_text_top{
			font-size: 20px;
		}

		.aka_text_new{
			font-size: 20px;
		}

		.aka_text_01{
			font-size: 18px;
		}

		.nav-wrapper nav ul li a:hover{
			color: #ff7500;
		}

    }