@charset "utf-8";
/** font */
@font-face {
	font-family: Splatoon1;
	src:
		/* url('./woff/s1kanji.woff2') format('woff2'),
		url('./woff/s1kanji.woff') format('woff'); */
		url('../woff/s1kana.woff2') format('woff2'),
		url('../woff/s1kanji.woff') format('woff');
}
@font-face {
	font-family: Splatoon1;
	src:
		url('../woff/s1kana.woff2') format('woff2'),
		url('../woff/s1kana.woff') format('woff');
}
@font-face {
	font-family: Splatoon2;
	src:
		url('../woff/s2kanji.woff2') format('woff2'),
		url('../woff/s2kanji.woff') format('woff');
}
@font-face {
	font-family: Splatoon2;
	src:
		url('../woff/s2kana.woff2') format('woff2'),
		url('../woff/s2kana.woff') format('woff');
}
/** reset */
body, div, p, table, tr, th, td, ul, ol, li, h1, h2, h3, h4, h5, nav, span {
	margin: 0;
	padding: 0;
}
/** body */
body {
	font-family: Splatoon2, sans-serif;
}

input[type="button" i] {
    appearance: auto;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    background-color: #000000;
    padding: 1px 6px;
	margin-bottom: 20px;
    border-width: 2px;
    border-style: none;
    border-color: none;
    border-image: none;
	color: #fff;
	font-size: 15px;
	font-family: Splatoon2, sans-serif;
}

.area{
	text-align: center;
}

.stage_name{
	text-align: center;
}

.stage{
	width: 300px;
	margin-bottom: 10px;
	border-radius: 10px;
}

.record{
	display: flex;
	justify-content:center;
	margin-bottom: 15px;
}

.record_tittle{
	font-size: 18px;

}

.record_table{
	text-align: center;
	padding: 10px;
	color: #fff;
	background-color: rgba(51, 51, 51, 0.801);
	border-radius: 5px;
	height:170px;
	width: 45%;
	font-size: 12px;
}

.record_table{
	position: relative;
}

.record_number::after{
	content: "Failure";
	position: absolute;
	width: 100px; height: 100px;
	left: 0; top: 10;
	transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
	-webkit-transform: rotate(-20deg);
	color: #ff7500;
}

.en_name{
	font-size: 9px;
	letter-spacing: 1px;
	color: #ff7500;
}

.jp_name{
	font-size: 12px;
	
}

.record_table_clear{
	position: relative;
}

.record_number_clear::after{
	content: "Clear";
	position: absolute;
	width: 100px; height: 100px;
	left: 0; top: 10;
	transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
	-webkit-transform: rotate(-20deg);
	color: #7bb454;
	font-weight: bold;
}

.record_number img{
	height: 20px;
	width: 20px;
	vertical-align: middle;
}

.record_number a{
	color: #ff9800;
	text-shadow: 0.15em 0.15em 0 #000;
	letter-spacing: 1px;
}

.record_weapon img{
	height: 23px;
	width: 23px;
	background-color: #000;
	border-radius: 25px;
	margin-left: 1px;
	margin-right: 1px;
}

.record_link img{
	height: 20px;
	width: 20px;
}

main{
	background-image: repeating-linear-gradient(
        45deg, #cccccc, #cccccc 7px, transparent 0, transparent 14px);
	text-align: center;	
	margin: 0px auto;
	width: 100%;

}

.about{
	background-color: #333;
	padding: 15px;
}

.about h2{
	color: #ff7500;
	font-size: 18px;
}

.app img{
	height: 30px;
	width: 30px;
	margin-right: 10px;
}

.app a{
	color: #ff7500;
	font-size: 15px;
}

.app_text{
	color: #fff;
	font-size: 15px;
	
}

.aka_text span{
	font-size: 18px;
	color: #ff7500;
}

.aka_text_new a{
	font-size: 18px;
	color: #ff7500;
}

.aka_all{
	margin-bottom: 30px;
	background-color: rgba(255, 255, 255, 0.795);
	padding: 10px;
}

.aka_text_top{
	font-size: 18px;
	color: #ff7500;
}

.aka_text_01{
	font-size: 15px;
	margin-bottom: 30px;
}
/* --------------------------------------------------------------------------------
Tabのレイアウト
-------------------------------------------------------------------------------- */
/*tabの形状*/
.tab{
	display: flex;
	/* flex-wrap: wrap; */
	/* justify-content: space-around; */
	margin-bottom: 15px;
	position: fixed;
	z-index: 50;
	width: 100%;
	background:rgb(250, 250, 250);
	margin-top: 35px;
	height: 40px;
	padding: 10px 0px;
}
.tab li a{
	display: block;
	background:rgb(141, 141, 141);
	margin:0 1px;
	padding: 5px;
	border-radius: 25px;
	font-size: 15px;

}
/*liにactiveクラスがついた時の形状*/
.tab li.active a{
	background:rgb(0, 0, 0);
	border-radius: 25px;
}


/*エリアの表示非表示と形状*/
.area {
	display: none;/*はじめは非表示*/
	opacity: 0;/*透過0*/
	background-image: repeating-linear-gradient(
        45deg, #cccccc, #cccccc 7px, transparent 0, transparent 14px);
	padding:0px 5px 50px 5px;
	margin-top: 90px;
}

/*areaにis-activeというクラスがついた時の形状*/
.area.is-active {
    display: block;/*表示*/
    animation-name: displayAnime;/*ふわっと表示させるためのアニメーション*/
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes displayAnime{
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/*========= レイアウトのためのCSS ===============*/

ul{
	list-style:none;
}

a{
	color:#333;
	text-decoration: none;
}

.wrapper{
	width:100%;
	max-width: 960px;
	margin:0px auto;
	padding-top: 15px;
    background:#fefefe;
}

.area h2{
	font-size:1.3rem;
}

/*リンクの形状*/
#page-top a{
	display: flex;
	justify-content:center;
	align-items:center;
	background:#347fb1;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	color: #fff;
	text-align: center;
	text-transform: uppercase; 
	text-decoration: none;
	font-size:18px;
	transition:all 0.3s;
}

	#page-top a:hover{
	background: #777;
	}

	/*リンクを右下に固定*/
	#page-top {
	position: fixed;
	right: 10px;
	bottom:10px;
	z-index: 2;
		/*はじめは非表示*/
	opacity: 0;
	transform: translateY(100px);
	}

	/*　上に上がる動き　*/

	#page-top.UpMove{
	animation: UpAnime 0.5s forwards;
	}
	@keyframes UpAnime{
	from {
		opacity: 0;
	transform: translateY(100px);
	}
	to {
		opacity: 1;
	transform: translateY(0);
	}
	}

	/*　下に下がる動き　*/

	#page-top.DownMove{
	animation: DownAnime 0.5s forwards;
	}
	@keyframes DownAnime{
	from {
		opacity: 1;
	transform: translateY(0);
	}
	to {
		opacity: 1;
	transform: translateY(100px);
	}
	}
  
/*========= レイアウトのためのCSS ===============*/

small{
	background:#333;
	color: #ff7500;
	display: block;
	text-align: center;
	padding:20px;
}

#footer{
position: relative;
z-index: 2;
}


ol,
ul {
	list-style:none;
}

caption,
th {
	text-align:left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,
q:after {
	content:'';
}
abbr,
acronym {
	border:0;
	font-variant:normal;
}
/* to preserve line-height and selector appearance */
sup {
	vertical-align:text-top;
}
sub {
	vertical-align:text-bottom;
}
input,
textarea,
select {
	font-size:inherit;
	font-weight:inherit;
}
/*to enable resizing for IE*/
input,
textarea,
select {
	*font-size:100%;
}
/*because legend doesn't inherit in IE */
legend {
	color:#000;
}
/* YUI CSS Detection Stamp */
#yui3-css-stamp.cssreset { display: none; }

/* style.css */

/* -------------------- */
/* base
/* -------------------- */

li{
	list-style:none;
}
a{
	text-decoration: none;
	color:#fff;
}
img{
	width:100%;
	vertical-align: bottom;
}
 /* -------------------- */
 /* header
 /* -------------------- */
.header{
	background-color: #000000;
	color: #fff;
	height:50px;
	padding: 0 120px;
	border-bottom:1px solid #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: 100;
	width: 100%;

}

.site-title{
	z-index: 2;
}
.nav-list{
	/* navの横並び */
	display: flex;
}

.nav-list a{
	font-size: 20px;
	}

.nav-item{
	/* メニューの右側に余白 */
	margin-right: 55px;
	}

.burger-btn{
	display: none;
	}

@media screen and (max-width:768px){ 
   /* ------------------ */
   /* humberger-menu */
   /* ------------------ */
    .header{
		padding: 0 5%;
    }
    .burger-btn{
		display: block;
		width: 39px;
		height: 39px;
		position: relative;
		z-index: 100;
		/*   codepenの挙動のため */
		background-color:transparent;
		border:none;
		right: 50px;
	}
	.bar{
		width: 20px;
		height: 1px;
		display: block;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		background-color: #fff;
	}
	.bar_top{
		top: 10px;
	}
	.bar_mid{
		top: 50%;
		transform: translate(-50%,-50%);
	}
	.bar_bottom{
		bottom: 10px;
	}
	.burger-btn.close .bar_top{
		transform: translate(-50%,10px) rotate(45deg);
		transition: transform .3s;
	}
	.burger-btn.close .bar_mid{
		opacity: 0;
		transition: opacity .3s;
	}
	.burger-btn.close .bar_bottom{
		transform: translate(-50%,-8px) rotate(-45deg);
		transition: transform .3s;
	}
	.nav-wrapper{
		display: none;
		width: 100vw;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;/*キービジュアルと.btn_triggerとの重なりの前後関係を調整*/
	}
	.header-nav{
		width: 100%;
		height: 100%;
		background-color:#000000;
		z-index: 100;
	}
	.header-nav .nav-list{
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		text-align: center;
	}
	.header-nav .nav-item{
		margin-right: 0;
		margin-bottom: 40px;
		border-radius: 25px;
	}
	.nav-wrapper nav ul li a:hover{
		color: #ff7500;
	}
}  

 @media screen and (min-width:768px){
	header{
		max-width: 960px;
		margin: 0 auto;
	}
	.header{
		padding: 0px;
		height: 60px;
		
	}
	.site-title{
		padding-left: 50px;
		font-size: 20px;
	}

	input[type="button" i] {
		appearance: auto;
		user-select: none;
		white-space: pre;
		align-items: flex-start;
		text-align: center;
		cursor: pointer;
		box-sizing: border-box;
		background-color: #000000;
		padding: 1px 6px;
		margin-right: 30px;
		margin-bottom: 0px;
		border-width: 2px;
		border-style: none;
		border-color: none;
		border-image: none;
		color: #fff;
		font-size: 18px;
	}

	input[type="button" i]:hover{
		color: #ff7500;
	}

	.aka_text span{
		font-size: 28px;
	}

	.aka_text_top{
		font-size: 20px;
	}

	.aka_text_new{
		font-size: 20px;
	}

	.aka_text_new{
		font-size: 24px;
	}

	.aka_text_01{
		font-size: 20px;
	}

	.aka_all{
		margin: 0 30px;
		margin-bottom: 30px;
	}

	.about{
		margin: 0 30px;
		margin-top: 20px;
	}

	.about h2{
		font-size: 22px;
	}

	.app a{
		font-size: 22px;
	}

	.app img{
		vertical-align: middle;
	}

	.app_text{
		font-size: 20px;
	}

	main{
		max-width: 960px;
		padding-bottom: 0px;
	}

	.tab{
		padding: 20px 0px;
		height: 40px;
	}

	.tab li a {
		margin: 0 1px;
		padding: 5px 15px;
		font-size: 20px;
		letter-spacing: 1px;
	}

	footer{
		max-width: 960px;
		margin: 0 auto;
		font-size: 20px;
	}

	.area{
		padding-top: 30px;
	}

	.area h2{
		font-size: 22px;
	}

	.record_tittle{
		font-size: 22px;
	}

	.record_number a{
		font-size: 20px;
	}
	
	.en_name{
		font-size: 12px;
		letter-spacing: 2px;
		color: #ff7500;
	}

	.jp_name{
		font-size: 18px;
		
	}

	.record_name{
		font-size: 18px;
	}

	.record_weapon img {
		height: 36px;
		width: 36px;
		margin-left: 4px;
		margin-right: 4px;
	}

	.record_link img {
		height: 36px;
		width: 36px;
		margin-top: 5px;
	}

	.record_table{
		height:250px;
	}
	
	.record_number::after{
		left: 10px;
		font-size: 20px;
		letter-spacing: 1px;
	}

	.record_number_clear::after{
		left: 10px;
		font-size: 20px;
		letter-spacing: 1px;
	}
}

@media screen and (min-width:1024px){
	body{
		background-image: repeating-linear-gradient(
			45deg, #cccccc, #cccccc 7px, transparent 0, transparent 14px);
	}
	header{
		max-width: 100%;
		margin: 0;
	}

	.header{
		padding: 0px 20px;
		position: fixed;
		width: 100%;
		z-index: 50;
		height: 60px;
	}

	input[type="button" i] {
		appearance: auto;
		user-select: none;
		white-space: pre;
		align-items: flex-start;
		text-align: center;
		box-sizing: border-box;
		background-color: #000000;
		padding: 1px 6px;
		margin-right: 20px;
		border-width: 2px;
		border-style: none;
		border-color: none;
		border-image: none;
		color: #fff;
		cursor: pointer;
	}

	input[type="button" i]:hover{
		color: #ff7500;
	}

	.wrapper {
		width: 100%;
		max-width: 100%;
		display: flex;
		background: none;
	}

	.btn-lang a{
		color: #000;
	}

	main {
		max-width: 1680px;
		background-image:none;
	}

	.tab{
		display: none;
	}

		/*エリアの表示非表示と形状*/
	.area {
		display: block;/*はじめは非表示*/
		opacity: 1;/*透過0*/
		background-image:none;
		padding:10px 20px 50px 20px;
		background-color: rgba(255, 255, 255, 0.671);

	}

	/*areaにis-activeというクラスがついた時の形状*/
	.area.is-active {
		display: block;/*表示*/
		animation-name: displayAnime;/*ふわっと表示させるためのアニメーション*/
		animation-duration: 2s;
		animation-fill-mode: forwards;
	}

	.record{
		flex-wrap: wrap;
	}

	.record_table{
		width: 280px;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.329);
        transition: all 0.3s ease 0s;
    }

    .record_table:hover {

        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.616);
        transform: translateY(-0.7em);
		opacity: 1;
    }

	.stage_name{
		position: fixed;
		z-index: 100;
		margin-top: 20px;
		background-color: #000;
		border-radius: 10px;
	}

	.stage_name h2{
		color: #fff;
		
	}
	.area ul{
		margin-top: 250px;
	}

	.nav-list{
		padding-right: 100px;
	}

	.site-title{
		padding-left: 150px;
	}

	.stage {
		margin-bottom: 0px;
		border-radius: 0px 0px 10px 10px;
	}

	.area.is-active {
		display: block;/*表示*/
		animation-name: displayAnime;/*ふわっと表示させるためのアニメーション*/
		animation-duration: 0s;
		animation-fill-mode: forwards;
	}

	.record_number img{
		height: 25px;
		width: 25px;

	}

	.aka_text{
		padding-top: 70px;
		max-width: 1280px;
		margin: 0 auto;
	}

	.about{
		max-width: 1230px;
		margin: 0 auto;
	}

	.footer_pc{
		max-width: 1230px;
		margin: 0 auto;
	}

	footer{
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.en_name{
		font-size: 13px;
		letter-spacing: 2px;
		color: #ff7500;
	}

	.jp_name{
		font-size: 18px;
		
	}
	
	.nav-wrapper nav ul li a:hover{
		color: #ff7500;
	}
}
