@charset "utf-8";
/** font */
@font-face {
	font-family: Splatoon1;
	src:
		/* url('./woff/s1kanji.woff2') format('woff2'),
		url('./woff/s1kanji.woff') format('woff'); */
		url('../woff/s1kana.woff2') format('woff2'),
		url('../woff/s1kanji.woff') format('woff');
}
@font-face {
	font-family: Splatoon1;
	src:
		url('../woff/s1kana.woff2') format('woff2'),
		url('../woff/s1kana.woff') format('woff');
}
@font-face {
	font-family: Splatoon2;
	src:
		url('../woff/s2kanji.woff2') format('woff2'),
		url('../woff/s2kanji.woff') format('woff');
}
@font-face {
	font-family: Splatoon2;
	src:
		url('../woff/s2kana.woff2') format('woff2'),
		url('../woff/s2kana.woff') format('woff');
}
/** reset */
body, div, p, table, tr, th, td, ul, ol, li, h1, h2, h3, h4, h5, nav, span {
	margin: 0;
	padding: 0;
}
/** body */
body {
	font-family: Splatoon2, sans-serif;
}

.area{
	text-align: center;
}

.stage_name{
	text-align: center;
}

.stage{
	width: 300px;
	margin-bottom: 10px;
	border-radius: 10px;
}

.record{
	display: flex;
	justify-content:center;
}

.record_tittle{
	border-top: 1px solid #ddd;
	font-size: 18px;
}

.record_table{
	text-align: center;
	padding: 10px;
	color: #fff;
	background-color: #333;
	border-radius: 5px;
	height:160px;
	width: 40%;
	font-size: 12px;
}

.record_number img{
	height: 20px;
	width: 20px;
	vertical-align: middle;
}

.record_weapon img{
	height: 25px;
	width: 25px;
	background-color: #000;
	border-radius: 25px;
	margin-left: 2px;
	margin-right: 2px;
}

.record_link img{
	height: 20px;
	width: 20px;
}
/* --------------------------------------------------------------------------------
Tabのレイアウト
-------------------------------------------------------------------------------- */
/*tabの形状*/
.tab{
	display: flex;
	/* flex-wrap: wrap; */
	justify-content: space-around;
	margin-bottom: 15px;
}
.tab li a{
	display: block;
	background:rgb(141, 141, 141);
	margin:0 2px;
	padding:5px 15px;
	border-radius: 25px;
	font-size: 10px;
}
/*liにactiveクラスがついた時の形状*/
.tab li.active a{
	background:rgb(0, 0, 0);
	border-radius: 25px;
}


/*エリアの表示非表示と形状*/
.area {
	display: none;/*はじめは非表示*/
	opacity: 0;/*透過0*/
	background: rgb(161, 161, 161);
	padding:0px 5px 50px 5px;
}

/*areaにis-activeというクラスがついた時の形状*/
.area.is-active {
    display: block;/*表示*/
    animation-name: displayAnime;/*ふわっと表示させるためのアニメーション*/
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes displayAnime{
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}



/*========= レイアウトのためのCSS ===============*/

ul{
	list-style:none;
}

a{
	color:#333;
	text-decoration: none;
}

.wrapper{
	width:100%;
	max-width: 960px;
	margin:0px auto;
	margin-top: 15px;
    background:#fefefe;
}

.area h2{
	font-size:1.3rem;
}

/*リンクの形状*/
#page-top a{
	display: flex;
	justify-content:center;
	align-items:center;
	background:#942D2F;
	border-radius: 5px;
	width: 60px;
	height: 60px;
	color: #fff;
	text-align: center;
	text-transform: uppercase; 
	text-decoration: none;
	font-size:0.6rem;
	transition:all 0.3s;
  }
  
  #page-top a:hover{
	background: #777;
  }
  
  /*リンクを右下に固定*/
  #page-top {
	position: fixed;
	right: 10px;
	bottom:10px;
	z-index: 2;
	  /*はじめは非表示*/
	opacity: 0;
	transform: translateY(100px);
  }
  
  /*　上に上がる動き　*/
  
  #page-top.UpMove{
	animation: UpAnime 0.5s forwards;
  }
  @keyframes UpAnime{
	from {
	  opacity: 0;
	transform: translateY(100px);
	}
	to {
	  opacity: 1;
	transform: translateY(0);
	}
  }
  
  /*　下に下がる動き　*/
  
  #page-top.DownMove{
	animation: DownAnime 0.5s forwards;
  }
  @keyframes DownAnime{
	from {
	  opacity: 1;
	transform: translateY(0);
	}
	to {
	  opacity: 1;
	transform: translateY(100px);
	}
  }
  
/*========= レイアウトのためのCSS ===============*/

small{
background:#333;
color:#fff;
display: block;
text-align: center;
padding:20px;
}

#footer{
position: relative;
z-index: 2;
}





 
ol,
ul {
list-style:none;
}

caption,
th {
text-align:left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
font-size:100%;
font-weight:normal;
}
q:before,
q:after {
content:'';
}
abbr,
acronym {
border:0;
font-variant:normal;
}
/* to preserve line-height and selector appearance */
sup {
vertical-align:text-top;
}
sub {
vertical-align:text-bottom;
}
input,
textarea,
select {

font-size:inherit;
font-weight:inherit;
}
/*to enable resizing for IE*/
input,
textarea,
select {
*font-size:100%;
}
/*because legend doesn't inherit in IE */
legend {
color:#000;
}
/* YUI CSS Detection Stamp */
#yui3-css-stamp.cssreset { display: none; }

/* style.css */

/* -------------------- */
/* base
/* -------------------- */

li{
list-style:none;
}
a{
	text-decoration: none;
	color:#fff;
}
img{
width:100%;
vertical-align: bottom;
}


 
 /* -------------------- */
 /* header
 /* -------------------- */
.header{
	background-color: #1B1310;
	color: #fff;
	height:74px;
	padding: 0 120px;
	border-bottom:1px solid #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-list{
	/* navの横並び */
	display: flex;
}
.nav-item{
	/* メニューの右側に余白 */
	margin-right: 55px;
}

.burger-btn{
display: none;
}

 /* ------------------ */
 /* fv
 /* ------------------ */

 
 /* ------------------ */
 /* about
 /* ------------------ */

 
 
 
 
 @media screen and (max-width:768px){
   /* ----------------------- */
   /* base_sp
   /* ----------------------- */
   
 
   /* ------------------ */
   /* humberger-menu */
   /* ------------------ */
   .header{
	   padding: 0 5%;
   }
   .burger-btn{
	   display: block;
	   width: 39px;
	   height: 39px;
	   position: relative;
	   z-index: 3;
   /*   codepenの挙動のため */
	 background-color:transparent;
	 border:none;
	 }
	 .bar{
	   width: 20px;
	   height: 1px;
	   display: block;
	   position: absolute;
	   left: 50%;
	   transform: translateX(-50%);
	   background-color: #fff;
	 }
	 .bar_top{
	   top: 10px;
	 }
	 .bar_mid{
	   top: 50%;
	   transform: translate(-50%,-50%);
	 }
	 .bar_bottom{
	   bottom: 10px;
	 }
	 .burger-btn.close .bar_top{
	   transform: translate(-50%,10px) rotate(45deg);
	   transition: transform .3s;
	 }
	 .burger-btn.close .bar_mid{
	   opacity: 0;
	   transition: opacity .3s;
	 }
	 .burger-btn.close .bar_bottom{
	   transform: translate(-50%,-8px) rotate(-45deg);
	   transition: transform .3s;
	 }
	 .nav-wrapper{
	   display: none;
	   width: 100vw;
	   height: 100vh;
	   position: fixed;
	   top: 0;
	   left: 0;
	   z-index: 2;/*キービジュアルと.btn_triggerとの重なりの前後関係を調整*/
	  }
	  .header-nav{
		 width: 100%;
		 height: 100%;
		 background-color:#1B1310;
		 z-index: 2;
	   }
	  .header-nav .nav-list{
		 display: block;
		 position: absolute;
		 top: 50%;
		 left: 50%;
		 transform: translate(-50%,-50%);
		 text-align: center;
	   }
	   .header-nav .nav-item{
		 margin-right: 0;
		 margin-bottom: 40px;
	   } 
 
 }  
   
